extends navbar-page
block append head
    title= title
block body
    each post in posts
        div.post
            h2.title
                a(href='/post/' + post.id)= post.title
            div.meta
                div.label Created at:
                div.value= post.createdDate
                div.label Modified at:
                div.value= post.createdDate
            div.body!= post.body
    div.page-navigate
        | [#{meta.page}/#{meta.maxPage}]:
        | [
        a(href='?page=1') &lt;&lt;
        | ]

        | [
        - if (meta.page > 1)
            a(href='?page=' + (meta.page-1)) &lt;
        - else
            | &lt;
        | ]


        - for (var i = meta.startPage; i <= meta.endPage; i++)
            | [
            a(href='?page=' + i) #{i}
            | ]

        | [
        - if (meta.page < meta.maxPage)
            a(href='?page=' + (meta.page+1)) &gt;
        - else
            | &gt;
        | ]
        | [
        a(href='?page=' + meta.maxPage) &gt;&gt;
        | ]

