extends navbar-page
block append head
    title= post.title
block body
    h2.title= post.title
    div.meta
        div.label Created at:
        div.value= post.createdDate
        div.label Modified at:
        div.value= post.createdDate
    div.body!= post.body

