include lib/mixin.jade
include lib/markdown-editor.jade
extends normal-page
block append head
    title= post.title
block body
    mixin showPost(post, '/post/' + post._id)
    div#comment
        each comment in post.comments
            .comment
                .meta
                    img.avatar(src='http://www.gravatar.com/avatar/' + comment.emailMD5 + '?s=40')
                    - if (comment.website)
                        a.name(href=comment.website)= comment.name
                    - else
                        .name= comment.name
                    .date
                            mixin showDate(comment.createdDate)
                .content!= comment.body
        .compose
            form.markdown-editor#compose-comment(method=method, action=target)
                div
                    label Name
                    input(type='text', name='name')
                div
                    label Email
                    input(type='text', name='email')
                div
                    label Website
                    input(type='text', name='website')
                div
                    label
                    textarea.editor(name='body')
                input(type='submit', value='Submit')



